{% extends "layout.html.twig" %}
{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('add_logout') }}">Logout</a>
{% endif %}
<div class="row">
    <div class="span12">
        <h1>Add a ride</h1>
        <form action="#" method="post">
        <div class="row">
            <fieldset  class="span6">
                <legend>Enter the details of your ride below</legend>

                {{ form_label(form.km) }}
                <div class="input-append">
                    {{ form_widget(form.km, {'attr': {'class': 'input-mini'}}) }}
                    <span class="add-on">km</span>
                </div>

                {{ form_label(form.average_speed) }}
                <div class="input-append">
                    {{ form_widget(form.average_speed, {'attr': {'class': 'input-mini'}}) }}
                    <span class="add-on">km/h</span>
                </div>

                {{ form_label(form.url) }}
                {{ form_widget(form.url) }}

                {{ form_label(form.date) }}
                 {{ form_widget(form.date, {'attr': {'class': 'datepicker'}}) }}

                {{ form_label(form.details) }}
                {{ form_widget(form.details, {'attr': {'class': 'input-xlarge', 'rows': 8}}) }}

            <button  type="submit" class="btn" name="submit">Submit Ride</button>
                      </fieldset>
           

        
            <fieldset class="span6">
                <legend>Or, enter your Strava Ride ID</legend>
                    <div class="input-prepend input-append">
                        <span class="add-on">http://app.strava.com/activities/</span>
                        {{ form_widget(form.strava_ride_id, {'attr': {'class': 'input-mini'}}) }}
                        <button  type="submit" class="btn" name="submit">Go</button>
                    </div>
                </legend>
            </fieldset>
            </div>
            
 {{ form_rest(form) }}
            
        </form> 
              
    </div>
</div> 
<script>
$(function(){
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd'
    });
});
</script>
{% endblock %}