{% extends "layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="span12">
        <h1>Change password</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <form action="" method="post">
           
           
            
            <fieldset>
                <legend>Choose a new password</legend>
               

                {% if (errors or form_errors(form.current_password)) %}
                    <div class="alert alert-danger">
                        <strong>
                            {%  if (form_errors(form.current_password) or errors) %}   
                              Current password:{{ form_errors(form.current_password) }} {{ errors }}
                            {% endif %}
                        </strong>
                    </div>
                {% endif %}
                
                {% autoescape %}
                
                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password) }}

                {{ form_widget(form.new_password) }}
               
                {% endautoescape %}
            </fieldset>
            {{ form_rest(form) }}
            

            <button  type="submit" class="btn btn-success" name="submit">Save</button>
            <span class="help-inline">* denotes required field</span>
        </form>
    </div>
</div>
{% endblock %}