<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total</th>
            {% for month in months %}
                <th>{{ month.date }}</th>
            {% endfor %}
        </tr>
    </thead>
            
    <tbody>
        {% for user in users %}
            <tr>
                <td><a href="profile/{{ user.getUsername() }}">
                {% if is_granted('ROLE_USER') %}
                    {{ user.getName() }}
                {% else %}
                    {{ user.getPrivateName() }}
                {% endif %}

                </a></td>
                <td>{{ user.getPoints() }}</td>
                {% for month in months|keys %}
                    <td>{{ user.getPoints(month, year) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>