{% extends "layout.html.twig" %}
{% block body %}

<h1>Leaderboard</h1>
    <p>Previous years: <a href="/leaderboard/2013">2013</a> <a href="/leaderboard/2014">2014</a></p>
<table class="table table-striped table-bordered {% if count_qualified_users > 15 %} table-condensed {% endif %}">
    <thead>
        <tr>
            <th style="width:40px">Rank</th>
            <th>Name</th>
            <th>Total</th>
            {% for month in months %}
                <th>{{ month.date }}</th>
            {% endfor %}
        </tr>
    </thead>
            
    <tbody>
        {% set counter = 0 %}
        {% for user in users %}
            <tr>
                <td style="width:40px; text-align:right">{% set counter = counter + 1 %}{{ counter }}</td>
                <td><a href="/profile/{{ user.getUsername() }}">
                {% if is_granted('ROLE_USER') %}
                    {{ user.getName() }}
                {% else %}
                    {{ user.getPrivateName() }}
                {% endif %}

                </a></td>
                <td>{{ user.getPoints(null, year) }}</td>
                {% for month in months|keys %}
                    <td>{{ user.getPoints(month, year) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% if disqualified_users %}
        <tr><td class="center" colspan="{{ months | length + 3}}"><strong>Disqualified</strong></td></tr>
        {% for user in disqualified_users %}
           
            <tr>
                <td></td>
                <td><a href="/profile/{{ user.getUsername() }}">
                {% if is_granted('ROLE_USER') %}
                    {{ user.getName() }}
                {% else %}
                    {{ user.getPrivateName() }}
                {% endif %}

                </a></td>
                <td>{{ user.getPoints(null, year) }}</td>
                {% for month in months|keys %}
                    <td>{{ user.getPoints(month, year) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}