{% extends "layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="span12">
        <h1>Reset Password</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <form action="" method="post">
            
            
           
            <fieldset>
                <legend>Enter your details below</legend>

                {% if (errors or other_error) %}
                    <div class="alert alert-danger"><strong>{{ errors }} {{ other_error }}</strong></div>
                {% endif %}
                
                {% autoescape %}
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}

                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}

                {% endautoescape %}
            </fieldset>

            

            <button  type="submit" class="btn btn-success" name="submit">Request Password</button>
            <span class="help-inline">* denotes required field</span>
        </form>
    </div>
</div>
{% endblock %}