<div class="row">
    <div class="span12">
    <ul class="unstyled">
    	{% for month in months %}
        <li><h2>{{ month.date }}</h2></li>
        <li>
        	<ul class="thumbnails">
		        {% for ride in month.rides %}
		        	<li class="span4">
		        	
			        	<div style="height:90px;" class="thumbnail">
			        		{% if ride.getStravaRideId() %}
			        			
			        				<a class="pull-right" href="{{ ride.getUrl() }}"><img width="40px" src="/assets/img/strava.jpg" alt="strava logo" /></a>
			        		{% endif %}

			        		<h4>
			        		<a href="/profile/{{ userRepo.getUserById(ride.getUserId()).getUsername() }}">
			        		{% if is_granted('ROLE_USER') %}
			                    {{ userRepo.getUserById(ride.getUserId()).getName() }}{% else %}
			                    {{ userRepo.getUserById(ride.getUserId()).getPrivateName() }}{% endif %}</a>
			                 got {{ ride.getPoints() }} points
			        		

			        		</h4>
			        		<p>for riding <a href="/ride/{{ ride.getRideId() }}">

			        	{% if is_granted('ROLE_USER') %}
			        		{% if app.security.getToken().getUser().isMetric() %}	
	        					{{ ride.getDistance()|km }}km
	        				{% else %}
	        					{{ ride.getDistance()|miles }}mi
	        				{% endif %}
	        			{% else %}
	        				{{ ride.getDistance()|km }}km
			        	{% endif %}




			        		on {{ ride.getDate().format('d/m/Y') }}</a></p>


			        		{% if is_granted('ROLE_USER') %}
			        			{% if app.security.getToken().getUser().getUserId() == ride.getUserId() %}
					        		<ul class="inline  pull-right">
					        			<li style="padding-right:0;"><a title="Edit Ride" class="btn btn-mini btn-warning" href="/ride/{{ ride.getRideId() }}/edit"><i class="icon-pencil icon-white"></i></a></li>
					        			<li style="padding-left:0; padding-right:0;" ><a title="Delete Ride" class="btn btn-mini btn-danger" href="/ride/{{ ride.getRideId() }}/delete"><i class="icon-trash icon-white"></i></a></li>
					        		</ul>
			        			{% endif %}
			        		{% endif %}

			        		<div class="clearfix"></div>
			        	</div>

		        	</li>
		        {% endfor %}
   			</ul>
   		</li>
    	{% endfor %}
    	</ul>	
    </div>
</div>