{% extends "layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="span8">
        <h1>Ride #{{ ride.getRideId() }}
        {% if ride.getStravaRideId() %}	
				<a href="{{ ride.getUrl() }}"><img width="100px" src="/assets/img/strava.jpg" alt="strava logo" /></a>
		{% endif %}</h1>
		{% if is_granted('ROLE_USER') %}
		{% if app.security.getToken().getUser().getUserId() == ride.getUserId() %}
    		<ul class="inline">
    			<li style="padding-right:0;"><a title="Edit Ride" class="btn btn-small btn-warning" href="/ride/{{ ride.getRideId() }}/edit"><i class="icon-pencil icon-white"></i> Edit</a></li>
    			<li style="padding-left:0; padding-right:0;" ><a title="Delete Ride" class="btn btn-small btn-danger" href="/ride/{{ ride.getRideId() }}/delete"><i class="icon-trash icon-white"></i> Delete</a></li>
    		</ul>
		{% endif %}
	{% endif %}
    </div>
</div>

<div class="row">
	<div class="span8">
		<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Distance</th>
				<th>Average Speed</th>
				<th>Points</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="/profile/{{ user.getUsername() }}">
		                {% if is_granted('ROLE_USER') %}
		                    {{ user.getName() }}
		                {% else %}
		                    {{ user.getPrivateName() }}
		                {% endif %}
	                </a>
	            </td>
				<td>{{ ride.getDate().format('d/m/Y') }}</td>
				<td>{% if is_granted('ROLE_USER') %}
			        		{% if app.security.getToken().getUser().isMetric() %}	
	        					{{ ride.getDistance()|km }}km
	        				{% else %}
	        					{{ ride.getDistance()|miles }}mi
	        				{% endif %}
	        			{% else %}
	        				{{ ride.getDistance()|km }}km
			        	{% endif %}</td>
				<td>{% if is_granted('ROLE_USER') %}
			        		{% if app.security.getToken().getUser().isMetric() %}	
	        					{{ ride.getAverageSpeed()|km }}kmph
	        				{% else %}
	        					{{ ride.getAverageSpeed()|miles }}mph
	        				{% endif %}
	        			{% else %}
	        				{{ ride.getAverageSpeed()|km }}kmph
			        	{% endif %}

			        	</td>
				<td>{{ ride.getPoints() }}</td>
				<td>
					{% if ride.getUrl() %}
						<a href="{{ ride.getUrl() }}">Click here</a>
					{% else %}
						No link provided
					{% endif %}
				</td>
				{% if ride.getDetails() %}
				<tr>
					<th colspan="6">Notes</th>
				</tr>
				<tr>
					<td colspan="6">{{ ride.getDetails() }}</td>
				</tr>
				{% endif %}
			</tr>
		</tbody>
		</table>
	</div>
</div>


{% endblock %}