<div class="row">
    <div class="span12">
    <ul class="unstyled">
    	{% for month in months %}
        <li><h2>{{ month.date }}</h2></li>
        <li>
        	<ul class="thumbnails">
		        {% for ride in month.rides %}
		        	<li class="span4">
		        	
			        	<div class="unstyled thumbnail">
			        		{% if ride.getStravaRideId() %}
			        			
			        				<a class="pull-right" href="{{ ride.getUrl() }}"><img width="40px" src="/assets/img/strava.jpg" alt="strava logo" /></a>
			        		{% endif %}

			        		<h4>
			        		<a href="/profile/{{ userRepo.getUserById(ride.getUserId()).getUsername() }}">
			        		{% if is_granted('ROLE_USER') %}
			                    {{ userRepo.getUserById(ride.getUserId()).getName() }}{% else %}
			                    {{ userRepo.getUserById(ride.getUserId()).getPrivateName() }}{% endif %}</a>
			                 got {{ ride.getPoints() }} points
			        		

			        		</h4>
			        		<p>for riding <a href="/ride/{{ ride.getRideId() }}">{{ ride.getKm(true) }}km on {{ ride.getDate().format('d/m/Y') }}</a></p>
			        		
			        	</div>

		        	</li>
		        {% endfor %}
   			</ul>
   		</li>
    	{% endfor %}
    	</ul>	
    </div>
</div>